In [84]:
import pandas as pd
import numpy as np

In [85]:
dataset = pd.read_csv("Train_B_Tree.csv")
dataset

pandas.core.frame.DataFrame

In [86]:
def test_train_split(db,train_size=0.3) -> tuple:
    random_suffled = db.iloc[np.random.permutation(len(db))]
    split_point = int(len(db)*0.3)
    return random_suffled[:split_point].reset_index(drop=True),random_suffled[split_point:].reset_index(drop=True)

In [87]:
test ,train = test_train_split(dataset,0.3)
test

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,387.0,20.0,94.0,157.0,11.6,938.0,845.0,28,46.68
1,167.4,129.9,128.6,175.5,7.8,1006.3,746.6,14,31.81
2,172.4,13.6,172.4,156.8,4.1,1006.3,856.4,3,21.29
3,251.4,0.0,118.3,192.9,5.8,1043.6,754.3,100,40.15
4,336.0,0.0,0.0,182.0,3.0,986.0,817.0,28,44.86
...,...,...,...,...,...,...,...,...,...
304,359.0,19.0,141.0,154.0,10.9,942.0,801.0,7,38.61
305,116.0,173.0,0.0,192.0,0.0,909.8,891.9,90,31.02
306,198.6,132.4,0.0,192.0,0.0,978.4,825.5,28,28.02
307,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
308,194.7,0.0,100.5,165.6,7.5,1006.4,905.9,56,33.96

In [88]:
train

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,304.0,76.0,0.0,228.0,0.0,932.0,670.0,180,50.95
1,424.0,22.0,132.0,168.0,8.9,822.0,750.0,3,32.11
2,380.0,0.0,0.0,228.0,0.0,932.0,670.0,365,52.52
3,239.6,359.4,0.0,185.7,0.0,941.6,664.3,7,25.42
4,194.7,0.0,100.5,170.2,7.5,998.0,901.8,28,37.27
...,...,...,...,...,...,...,...,...,...
716,349.0,0.0,0.0,192.0,0.0,1047.0,806.0,28,32.72
717,165.0,0.0,150.0,182.0,12.0,1023.0,729.0,28,18.03
718,491.0,26.0,123.0,210.0,3.9,882.0,699.0,28,55.55
719,168.0,42.1,163.8,121.8,5.7,1058.7,780.1,56,32.85
720,212.1,0.0,121.6,180.3,5.7,1057.6,779.3,56,34.20